
body {
  font-family: "GD Sherpa Regular";
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.hide-desktop {
  display: none;
}
.top-header-right {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  align-items: center;
}
h1 {
  font-family: "GDSage-Bold";
  font-size: 3.5rem;
  line-height: 4rem;
  margin-top: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0;
}

h3 {
  font-size: 1.7rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #2b2b2b;
}

.main-container {
  max-width: 95vw;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.main-button {
  border-radius: 6px;
  background-color: #111111;
  border: 2px solid #111111;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  transition: all ease 0.3s;
  cursor: pointer;
}

.main-button:hover,
.white-button:hover {
  color: #111111;
  background-color: white;
  transition: all ease 0.3s;
}

.main-button:after,
.white-button:after {
  content: "";
  height: 0.75rem;
  width: 1.25rem;
  background-image: url(img/arrow-button.svg);
  background-repeat: no-repeat;
  inset-inline-end: 1em;
  opacity: 0;
  
}

.main-button:hover:after,
.white-button:hover:after {
  opacity: 1;
  position: inherit;
  display: inline-block;
  margin-left: 10px;
}

.menu-mobile {
  display: none;
}

.white-button {
  border-radius: 6px;
  background-color: white;
  border: 2px solid white;
  color: #111111;
  padding: 10px 24px;
  text-decoration: none;
}

.tag-blue,
.tag-gray {
  width: fit-content;
  padding: 4px;
  font-size: 13px;
  line-height: 20px;
}

.tag-gray {
  background-color: #f3f3f3;
}

.tag-blue {
  background-color: #7dffff;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 12px 0px;
}

.top-header .top-header-left {
  display: flex;
  align-items: center;
}

.top-header .main-menu {
  margin: 0;
}

.top-header .main-menu .menu-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 16px;
}

.top-header a {
  color: white;
}

.domain-searcher {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin-bottom: 16px;
  border-radius: 16px;
  padding: 6px;
}

.domain-searcher .domain-searcher-left {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

.domain-searcher .domain-searcher-left input {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  border: none;
  padding: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.domain-searcher .domain-searcher-left .domain-searcher-button {
  background-color: #00838C;
  color: white;
  border-radius: 16px;
  border: none;
  position: relative;
  right: 10px;
  cursor: pointer;
  padding: 10px;
}

.domain-searcher .domain-searcher-right {
  display: flex;
  flex: 0 250px;
  padding: 8px;
  align-items: center;
}

.domain-searcher .domain-searcher-right img {
  margin-right: 10px;
}

.domain-searcher .domain-searcher-right span {
  font-weight: bold;
  display: block;
}

.domain-searcher .domain-searcher-right p {
  font-size: 13px;
  line-height: 19px;
  margin: 0;
}

.intro {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.intro .intro-left {
  background-color: gray;
  background-image: url("img/intro-bg.webp");
  background-size: cover;
  background-position: center;
  padding: 36px;
  border-radius: 16px;
  flex: auto;
}

.intro .intro-left .intro-left-content {
  max-width: 41%;
}

.intro .intro-left .tag-gray {
  display: block;
  margin-bottom: 12px;
}

.intro .intro-right {
  padding: 48px;
  border-radius: 16px;
  background-color: #111111;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 24%;
  min-height: 450px;
}

.intro .intro-right .tag-gray {
  color: #111111;
  background-color: #d3c1f7;
}


.blog {
  width: 70vw;
  padding: 80px 0px;
  text-align: center;
  margin: 0 auto;
}

.blog h2 {
  margin-bottom: 48px;
}

.blog .blog-filter {
  margin-bottom: 48px;
}
.blog-filter-button:hover {
  margin-bottom: 48px;
  background-color: #111111;
  color: white;
}

.blog .blog-filter .blog-filter-button {
  border: 1px solid #111111;
  margin-right: 16px;
  padding: 12px 16px;
  border-radius: 24px;
}

.blog .blog-filter .blog-filter-button:hover {
  border-width: 2px;
  transition: all linear 0.5s;
}

.blog .blog-grid {
  display: grid;
  grid-template-areas: "recent article2" "recent article3";
  gap: 16px;
  display: grid;
  grid-template-areas:
      "recent article2"
      "recent article3";
  gap: 22px;
  margin: 2vw -11vw 2vw -11vw;
}

.blog .blog-grid .grid-1 {
  grid-area: recent;
  background: url("img/intl-img-hp-recore-domains-large-landscape.webp");
}

.blog .blog-grid .grid-2 {
  grid-area: article2;
  background: url("img/img-hp-recore-co-small.jpg");
}

.blog .blog-grid .grid-3 {
  grid-area: article3;
  background: url("img/artical5.jpg");
}

.blog .blog-grid .blog-grid-article {
  background-size: cover;
  background-position: right;
  padding: 36px;
  border-radius: 16px;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.blog .blog-grid .blog-grid-article h3 {
  margin-bottom: 8px;
}

.blog .blog-grid .blog-grid-article p {
  max-width: 50%;
  margin-top: 0;
}

.gd-airo {
  max-width: 90%;
  padding: 80px 0px;
}

.gd-airo h2 {
  text-align: center;
  margin-bottom: 48px;
}

.gd-airo img {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;
}

.gd-airo .gd-airo-columns {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.gd-airo .gd-airo-columns .gd-airo-columns-content {
  padding: 12px 18px;
  border-radius: 16px;
}

.gd-airo .gd-airo-columns .gd-airo-columns-content:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.gd-airo .gd-airo-columns .gray-bg {
  background-color: #f3f3f3;
}

.gd-airo .main-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}

.templates {
  background-color: #f3f3f3;
  text-align: center;
  padding: 80px 0px;
}

.templates .templates-slider {
  display: flex;
  gap: 48px;
  margin-bottom: 48px;
}

.templates .templates-slider img {
  width: 20%;
}

.templates .templates-slider {
  margin-top: 32px;
  overflow: hidden;
  position: relative;
}

.templates .templates-slider::before, .templates .templates-slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.templates .templates-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.templates .templates-slider::before {
  left: 0;
  top: 0;
}

.templates .templates-slider .templates-slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  margin: 0 auto;
  gap: 64px;
}

.templates .templates-slider .templates-slide-track-image img {
  width: auto;
  height: 450px;
}

.lucinda {
  max-width: 85%;
  margin: 0 auto;
  padding: 80px 0px;
}

.lucinda h2 {
  padding-left: 48px;
  max-width: 35%;
  margin-bottom: 32px;
}

.lucinda .lucinda-container {
  background-color: #f3f3f3;
  background-image: url("img/Raheim-Thompson-D.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  min-height: 800px;
}

.lucinda .lucinda-container .lucinda-right {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  max-width: 37%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 600px;
}

.lucinda .lucinda-container .lucinda-right h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-left p {
  margin-top: 0;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-left p span {
  font-weight: 800;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-left .icons-lucinda {
  padding-left: 0;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-left .icons-lucinda li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-left .icons-lucinda li img {
  background-color: #D8EFEF;
  padding: 6px;
  border-radius: 8px;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-right {
  flex: 1 1 0;
  text-align: right;
}

.lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-right img {
  border-radius: 12px;
  width: 100%;
}

.trustpilot {
  margin-bottom: 80px;
}

.trustpilot h2 {
  margin-bottom: 32px;
}

.trustpilot .trustpilot-carousel {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.trustpilot .trustpilot-carousel .trustpilot-slide {
  background-color: #f5f5f5;
  padding: 24px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trustpilot .trustpilot-carousel .trustpilot-slide .trustpilot-title {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.trustpilot .trustpilot-carousel .trust-pilot-rating {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}

.trustpilot .trustpilot-carousel .trust-pilot-rating img {
  max-width: 16px;
}

.trustpilot .trustpilot-carousel .trustpilot-review {
  margin-bottom: 32px;
}

.trustpilot img {
  max-width: 130px;
}

.work-gd {
  max-width: 80%;
  margin: 64px auto 80px auto;
  text-align: center;
  margin-bottom: 80px;
}

.work-gd p {
  max-width: 45%;
  margin: 12px auto 48px auto;
}

.work-gd .work-grid {
  display: grid;
  grid-template-areas: "first second third" "fourth double double";
  gap: 16px;
  max-width: 1300px;
  margin: 0 auto;
}

.work-gd .work-grid .grid-first {
  grid-area: first;
  background: url("img/work-gd-1.webp");
  color: white;
}

.work-gd .work-grid .grid-second {
  grid-area: second;
  background: url("img/work-gd-2.webp");
  color: white;
}

.work-gd .work-grid .grid-third,
.work-gd .work-grid .grid-fourth {
  grid-area: third;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.work-gd .work-grid .grid-fourth {
  grid-area: fourth;
}

.work-gd .work-grid .grid-double {
  grid-area: double;
  width: auto;
  background: url("img/work-gd-3.webp");
  background-position: top;
  display: flex;
  align-items: center;
}

.work-gd .work-grid .grid-double h3 {
  max-width: 40%;
}

.work-gd .work-grid .work-grid-element {
  background-color: #f3f3f3;
  height: 100px;
  padding: 32px 48px;
  min-height: 340px;
  text-align: left;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work-gd .work-grid .work-grid-element img {
  margin-bottom: 8px;
}

.work-gd .work-grid .work-grid-element h3 {
  margin-top: 0;
}
.content{
  background-color: aquamarine ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0vw 0vw 1vw 0vw;
  padding: 7vw;
}

.hero-contact {
  background: url("img//mrq-Guide-IN-PK-Suraiya-mobile.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-contact .hero-contact-content {
  width: 50%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-contact .hero-contact-content p {
  max-width: 40%;
  margin-bottom: 0;
}

.hero-contact .hero-contact-content .mb-32 {
  margin-bottom: 16px;
}

.faq {
  padding: 80px 0px;
  max-width: 45%;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
}

.faq h3 {
  text-align: center;
  margin-bottom: 48px;
}

.faq .faq-container details {
  padding: 24px 0px;
  border-top: 1px solid #cccccc;
}

.faq .faq-container details[open] summary:after {
  content: " ▼";
}

.faq .faq-container summary {
  font-size: 22px;
  list-style: none;
  cursor: pointer;
}

.faq .faq-container summary::after {
  content: ' ◄';
  float: right;
}

.faq .faq-container summary::-webkit-details-marker {
  display: none;
}

footer {
  background-color: #111111;
  color: white;
  padding: 32px 0px;
}

footer h4 {
  font-weight: 700;
}

footer .footer-top {
  max-width: 90%;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 32px;
}

footer .footer-top a {
  color: white;
  display: block;
  margin-bottom: 16px;
}

footer .footer-top a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 24px;
}

footer .footer-bottom .logo-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-bottom .logo-social .logo-social-left {
  display: flex;
  align-items: flex-end;
  gap: 48px;
}

footer .footer-bottom .logo-social .logo-social-right {
  display: flex;
  gap: 32px;
}

footer .copyright {
  border-top: 1px solid white;
  padding: 1.5% 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  gap: 12px;
}

footer .copyright p {
  margin-top: 0;
}

footer .copyright .copyright-right {
  flex: 0 20%;
  text-align: right;
}

footer .copyright .copyright-right a {
  margin-right: 16px;
}

footer .copyright .copyright-right a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile-hidden {
    display: none;
    transition: all ease 1s;
  }
  .menu-mobile-showed {
    transition: all ease 1s;
    height: auto;
    position: absolute;
    top: 60px;
    background: #2b2b2b;
    color: white;
    z-index: 999;
    left: 0;
    padding: 62px;
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
  }
  .menu-mobile-showed li {
    margin-bottom: 32px;
  }
  .menu-mobile-showed li a {
    font-size: 28px;
  }
  h2 {
    font-size: 2.3rem;
    line-height: 3rem;
    margin: 0;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .menu-mobile .fa-bars {
    color: white;
    font-size: 28px;
  }
  .intro {
    flex-direction: column;
  }
  .intro .intro-right {
    max-width: 100%;
    min-height: 200px;
  }
  .banner-godaddy-tv .banner-gdtv {
    flex-direction: column;
  }
  .banner-godaddy-tv .banner-gdtv .banner-gdtv-images img {
    max-width: none;
    width: 300px;
    margin: 0 auto;
  }
  .blog {
    max-width: 80%;
  }
  .blog .blog-filter {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 16px;
  }
  .blog .blog-filter a {
    display: inline-block;
    height: fit-content;
    width: fit-content;
  }
  .blog .blog-grid {
    grid-template-areas: "recent recent" "article2 article3";
    grid-auto-columns: minmax(0, 1fr);
  }
  .blog .blog-grid .blog-grid-article {
    min-height: 220px;
    background-position: center;
  }
  .blog .blog-grid .blog-grid-article p,
  .blog .blog-grid .blog-grid-article button {
    display: none;
  }
  .blog .blog-grid .grid-1 {
    background-position: top;
  }
  .gd-airo {
    padding-top: 0;
  }
  .gd-airo .gd-airo-columns {
    display: grid;
    overflow-x: scroll;
    -webkit-scroll-snap-type: x mandatory;
    -moz-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gd-airo .gd-airo-columns .gd-airo-columns-content {
    -webkit-scroll-snap-stop: always;
    -moz-scroll-snap-stop: always;
    -ms-scroll-snap-stop: always;
    scroll-snap-stop: always;
    min-width: 70vmin;
    padding: 0;
    height: max-content;
  }
  .gd-airo .gd-airo-columns .gd-airo-columns-content img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .gd-airo .gd-airo-columns .gd-airo-columns-content h3 {
    margin-top: 0;
    padding: 0px 16px;
  }
  .gd-airo .gd-airo-columns .gd-airo-columns-content p {
    padding: 0px 16px;
  }
  .lucinda h2 {
    padding: 0;
    max-width: none;
  }
  .lucinda .lucinda-container {
    flex-direction: column;
    min-height: 840px;
    background-size: contain;
  }
  .lucinda .lucinda-container .lucinda-right {
    max-width: 100%;
    min-height: fit-content;
    padding: 12px;
    background-color: transparent;
  }
  .lucinda .lucinda-container .lucinda-right h3 {
    margin-top: 0;
  }
  .lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-right img {
    width: 80%;
  }
  .work-gd {
    max-width: 90%;
  }
  .hero-contact .hero-contact-content p {
    max-width: 95%;
  }
  footer .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer .copyright {
    flex-direction: column;
  }
  footer .copyright .copyright-right {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .main-container {
    max-width: 90vw;
  }
  .domain-searcher .domain-searcher-left input {
    height: 24px;
  }
  .intro .intro-left {
    background-image: url("img/intro-mobile.webp");
  }
  .intro .intro-left .intro-left-content {
    max-width: 100%;
    min-height: 75vh;
    text-align: center;
  }
  .intro .intro-left .intro-left-content .tag-gray {
    margin: 10px auto;
  }
  .intro .intro-right {
    align-items: flex-start;
    text-align: left;
    padding: 16px 24px;
  }
  .intro .intro-right h2 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .domain-searcher .domain-searcher-left .domain-searcher-button {
    right: 0;
  }
  .domain-searcher .domain-searcher-right {
    display: none;
  }
  .banner-gdtv {
    max-width: 90%;
  }
  .blog .blog-filter {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 16px;
  }
  .blog .blog-filter a {
    display: inline-block;
    height: fit-content;
    width: fit-content;
  }
  .blog .blog-grid .blog-grid-article {
    min-height: 150px;
    padding: 16px;
  }
  .templates h2,
  .templates p {
    padding: 0px 26px;
  }
  .templates .templates-slider .templates-slide-track-image img {
    height: 240px;
  }
  .lucinda .lucinda-container {
    min-height: 570px;
  }
  .lucinda .lucinda-container .lucinda-right h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .lucinda .lucinda-container .lucinda-right .lucinda-bottom .lucinda-bottom-right img {
    display: none;
  }
  .trustpilot .trustpilot-carousel {
    flex-direction: column;
  }
  .trustpilot .trustpilot-carousel .trustpilot-slide {
    width: 84%;
  }
  .trustpilot {
    max-width: 90%;
    margin: 0 auto;
  }
  .work-gd p {
    max-width: 90%;
  }
  .work-gd .work-grid {
    display: flex;
    flex-direction: column;
  }
  .work-gd .work-grid .work-grid-element {
    min-height: 300px;
  }
  .work-gd .work-grid .grid-double {
    display: block;
    background-image: url("img/work-gd-3-mobile.webp");
  }
  .work-gd .work-grid .grid-double h3 {
    max-width: 100%;
  }
  .hero-contact {
    flex-direction: column;
    background: url("img//hero-contact-mobile.webp");
    background-size: contain;
    min-height: 510px;
    background-repeat: no-repeat;
  }
  .hero-contact .hero-contact-content {
    width: 90%;
  }
  .faq {
    padding: 80px 0px;
    max-width: 80%;
  }
  footer .footer-bottom .logo-social {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-bottom .logo-social .logo-social-left {
    flex-direction: column;
    margin-bottom: 48px;
    align-items: flex-start;
  }
  footer .footer-bottom .logo-social .logo-social-right {
    justify-content: space-around;
    width: 100%;
  }
  footer .copyright {
    padding-top: 24px;
  }
}